.forgotPassword {
  padding: 15px;
  width: 50%;
  position: relative;
  top: 17rem;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .forgotPassword {
    width: 95%;
    padding-left: 1rem;
  }
}
